
<marquee><h1>Welcome to my Web App</h1></marquee>
<hr>

<table>
	<tr>
		<td>Email: </td>
		<td><input type="text"></td>
	</tr>
		<tr>
		<td>Password: </td>
		<td><input type="password"> </td>
	</tr>
</table>